.hi{
 list-style-type: none;
 position: relative;
 right: 10px;
}
.Form{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row{
position: relative;
  left:250px;
}
 
.card{
    max-width: 800px;
      position: relative;
    left:150px;
    height: 400px;
}