img{
    position: relative;
    right: 200px;
}
.info{
    position: relative;
    right: 140px;
    bottom: 90px;
}
.temp{
    font-size: 40px;
}
.info2{

position: relative;
    left: 140px;
    bottom: 170px;
}
.units{
    position: relative;
    bottom: 15px;
}