img{
    position: relative;
    right: 205px;
    bottom:12px;
}
.info{
    position: relative;
    right: 140px;
    bottom: 90px;
}
.temp{
    font-size: 40px;
}
.info2{

position: relative;
    left: 140px;
    bottom: 170px;
}
.c{
    position: relative;
    bottom: 17px;

}